%h1.text-center.my-4 Menus 
.col-md-12.px-3
    %table.table.table-bordered.table-striped.table-hover.table-responsive
        %thead
            %tr.text-center
                %th ID
                %th Menu Item Name
                %th Cuisine ID
                %th Menu Type
                %th Price
                %th.text-center{ colspan: 3} Actions
        %tbody
            - if !@menus.empty?
                - @menus.each do |menu|
                    %tr
                        %td
                            = menu.id
                        %td
                            = menu.name
                        %td
                            - if menu.cuisine.present?
                                = menu.cuisine[:name]
                            - else
                                NA
                        %td
                            = menu.menu_type                   
                        %td
                            = menu.price 
                        %td
                            =link_to "Edit",edit_menu_path(menu),class:"btn btn-primary"
                        %td
                            =link_to "Show",menu_path(menu),class:"btn btn-info"
                        %td
                            =button_to "Delete",menu_path(menu),menu: {data: {turbo_confirm: "Are You Sure ?"}},method: :delete,class:"btn btn-danger"
            - else
                %tr
                    %td.text-center{ colspan: 6}
                        No records found
    = paginate @menus
= link_to "New Menu",new_menu_path, class:'text-left px-3'