%h1.text-center.my-4 Customers
.col-md-12.px-3
	%table.table.table-bordered.table-striped.table-hover.table-responsive
		%thead
			%tr.text-center
				%th ID
				%th Customer Name
				%th Customer Address
				%th Contact Number
				%th Email Id
				%th.text-center{ colspan: 3} Actions
		%tbody
			- if !@customers.empty?
				- @customers.each do |customer|
					%tr
						%td
							= customer.id
						%td
							= customer.name
						%td
							= customer.address
						%td
							= customer.contact_number
						%td
							= customer.email_id
						%td
							=link_to "Edit",edit_customer_path(customer),class:"btn btn-primary"
						%td
							=link_to "Show",customer_path(customer),class:"btn btn-info"
						%td
							=button_to "Delete",customer_path(customer),customer: {data: { turbo_confirm: "Are You Sure?"} },method: :delete, class:"btn btn-danger "

			- else
				%tr
					%td.text-center{ colspan: 7}
						No records found
= link_to "New Customer",new_customer_path, class:'text-left px-3'