%h1.text-center.my-4 Restaurants 
.col-md-12.px-3
	%table.table.table-bordered.table-striped.table-hover.table-responsive
		%thead
			%tr.text-center
				%th ID
				%th Restaurant Name
				%th Address
				%th Cuisine
				%th Opening Time
				%th Closing Time
				%th.text-center{ colspan: 3} Actions
		%tbody
			- if !@restaurants.empty?
				- @restaurants.each do |res|
					%tr
						%td
							= res.id
						%td
							= res.name
						%td
							= res.address
						%td
							= res.cuisine[:name]
						%td
							= res.open_at
						%td
							= res.close_at
						%td
							=link_to "Show",restaurant_path(res),class:"btn btn-info"
						%td
							=link_to "Edit",edit_restaurant_path(res),class:"btn btn-primary"
						%td
							=button_to "Delete",restaurant_path(res),res: {data: { turbo_confirm: "Are You Sure?"} },method: :delete, class:"btn btn-danger "
			- else
				%tr
					%td.text-center{ colspan: 7}
						No records found
= link_to "New Restaurant",new_restaurant_path, class:'text-left px-3'