
%h1.restaurants_heading Restaurants 

%table.table_style.mt-5
	%thead
		%tr
			%th.table_heading ID
			%th.table_heading Restaurant Name
			%th.table_heading Address
			%th.table_heading Cuisine
			%th.table_heading Opening Time
			%th.table_heading Closing Time
	%tbody
		- @restaurants.each do |res|
			%tr
				%td.table_data
					= res.id
				%td.table_data
					= res.name
				%td.table_data
					= res.address
				%td.table_data
					= res.cuisine[:name]
				%td.table_data
					= res.open_at
				%td.table_data
					= res.close_at
				%td.table_data
					=link_to "Show",restaurant_path(res),class:"btn btn-info"
				%td.table_data
					=link_to "Edit",edit_restaurant_path(res),class:"btn btn-primary"
				%td.table_data
					/ =button_to "Delete",restaurant_path(res),res: {data: { turbo_confirm: "Are You Sure?"} },method: :delete, class:"btn btn-danger "
					= button_to "Delete", restaurant_path_for(action: :delete, id: :@restaurants.id),method: :delete, confirm: "Are You Sure?"
					
%p.paragraph_style
	= link_to "New Restaurant",new_restaurant_path, class:'link_item'
