.display-5
	Details of Payment
.m-3
	Payement Id :
	= @payment.id
.m-3
	Customer Name :
	= @payment.customer.name
.m-3
	Order Id :
	= @payment.order.id
.m-3
	Payment Type :
	= @payment.payment_type
.m-3
	Payment Status:
	= @payment.status

